<h1>Calorie Counter</h1>
<form action="http://www.my-calorie-counter.com/Calorie_Counter.asp" method="get" id="frmMCCSearch" target="_blank">
<p>
Enter the food or activity to find:<br />
<input type="text" id="txtMCCSearch" name="txtMCCSearch" size="40" value="" maxlength="70" />
 
<input type="submit" value="Search" id="btnMCCSearch" name="btnMCCSearch" /><br />
</p>
</form>
