<h1>
<%= gravatar_for @user %>
<%= @user.name %>
</h1>
<h2>
This is your Dashboard! Choose what you want to do:
</h2>

<script>
function myFunction()
{
document.getElementById("demo").innerHTML="";
}
</script>

<button onclick="myFunction()">Goals tracker</button>

<p id="demo"></p>
<script>
function myFunction()
{
document.getElementById("demo").innerHTML="Shantanu";
}
</script>

<button onclick="myFunction()">Weight tracker</button>

<p id="demo1"></p>
