<% if @log_items_weights.any? %>
 <table border="2">
 <tr>
   <th bgcolor="#2b2b2c"><font color="#ffffff"><h3>Entriess</h3></font></th>
 </tr>
  <tr class="goals">
   <%= render partial: 'shared/log_item_weight', collection: @log_items_weights %>
  </tr>
 </table>
  <%= will_paginate @log_items_weights %>
 
<% end %>
