<tr id="<%= log_membership_item.id %>">

<td>
  <span class="content"><%= log_membership_item.content %></span></td>
  <td><span class="timestamp">
   <%= time_ago_in_words(log_membership_item.created_at) %> ago.
  </span></td>
 <% if current_user?(log_membership_item.user) %>
   <td><%= link_to "Delete Group Membership", log_item, method: :delete,
                                   data: { confirm: "Are you sure? You would need a password to get access to the group again." },
                                   title: log_membership_item.content %>
 <% end %>
</td>
</tr>
