<header class="navbar navbar-fixed-top navbar-default">
  <div class="navbar-inner">
	
	
    <div class="container">
      <nav>
	  <ul class="nav pull-left">      
	  <!--<%= link_to image_tag("gethealthy.jpg", :size => "100x40", :alt => 'Get Healthy!'), root_path, id: "logo" %>-->
	<a class="navbar-brand" href='/'>Get Healthy!</a>
	</ul>
	 
	  <% if signed_in? %>
	<ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </li>
                  </ul>
	  
	
      </nav>
    </div>
  </div>
</header>
